/* diagnostic styling */
body {
  display: flex;
  /* vertical alignment   */
  align-items: center;
  /* horizontal alignment   */
  justify-content: center;
  /* stretch body to height of window   */
  height: 100vh;
  color: lemonchiffon;
}

h1 {
  /*   curve-text: 45deg; */
  color: crimson;
  font-family: 'comico';
  font-size: 1em;
}
