@import url(comico.css);

/* diagnostic styling */
body {
  display: flex;
  /* vertical alignment   */
  align-items: center;
  /* horizontal alignment   */
  justify-content: center;
  /* stretch body to height of window   */
  height: 100vh;
  background: rgb(247, 236, 138);
}

h1 {
  /*   curve-text: 45deg; */
  color: crimson;
  font-family: 'comico';
  font-size: 3em;
}
